
<div style="width: 100%;text-align: right;">
    <p-button  type="button"  label="Logout" severity="danger" size="small" (click)="logout()"></p-button>
</div>

<div>
<p-button  type="button"  label="Create" size="small" (click)="showCreateModal()"></p-button>
</div>

<p-table class="main-container" [value]="todosList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todos let-i="rowIndex">
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ todos.title }}</td>
            <td>{{ todos.description }}</td>
            <td>{{ todos.createdAt }}</td>
            <td>{{ todos.updatedAt }}</td>
            <td> 
                <p-button icon="pi pi-search" severity="info" size="small" (click)="getTodo(todos._id)"></p-button> 
                <p-button icon="pi pi-pencil" severity="warning" size="small" (click)="getForEdit(todos._id)"></p-button> 
                <p-button icon="pi pi-trash" severity="danger" size="small" (click)="deleteTodo(todos._id)"></p-button> 
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [header]="header" [(visible)]="displayCreateDialog">
    <!-- Modal content -->
    <div >
        <div class="p-field">
            <label for="title">Title:</label>
            <input pInputText id="title"  placeholder="Title" [(ngModel)]="newTodo.title"  [disabled]="editAble" />
        </div>
        <div class="p-field">
            <label for="description">Description:</label>
            <input pInputText id="description"  placeholder="Description" [(ngModel)]="newTodo.description"  [disabled]="editAble" />
        </div>
    <div>
        <button *ngIf="displayBtnSave" pButton type="button" label="Save" (click)="saveNew()" ></button>
        <button *ngIf="displayBtnUpdate" pButton type="button" label="Update" (click)="saveUpdate()" ></button>
    </div>
    </div>
</p-dialog>