

<div class="login-container">
    <p-panel header="Login">
      <form class="">
        <div class="p-field">
          <label for="username">Username</label>
          <input type="text" id="username" pInputText  [(ngModel)]="username" name="username" />
        </div>
  
        <div class="p-field">
          <label for="password">Password</label>
          <input type="password" id="password" pInputText [(ngModel)]="password" name="password"/>
        </div>
  
        <button type="button" pButton icon="pi pi-sign-in" (click)="login()" label="Login"></button>
      </form>
    </p-panel>
  </div>
